<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <meta name="Keywords" content="Pythonista, programming, tutorial, langauge"/>
        <meta name="Auther" content="Name of team..........."/>
        <meta name="description" content="Welcome to Pythonista, Python Langauge"/>
        <title>About Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../static/home/css/animate.css">

        <link rel="stylesheet" type="text/css" href="../../static/home/css/base.css">
        <link rel="stylesheet" type="text/css" href="../../static/home/css/about.css">
   
    </head>
    <body>
    
          
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top " >
          <div class="container">
                              
              <a class="navbar-brand mr-4" href="#">Pythonista</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
                             
              <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="#">Home</a>
                  </div>
              
              <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                      <a class="nav-item nav-link" href="#">About</a>
                  </div>
             
                             
              <div class="navbar-nav">
                                          
                  <a class="nav-item nav-link" href="#">Profile</a>
                  <a class="nav-item nav-link" href="#">Tutorial</a>
                  <a class="nav-item nav-link" href="#">Logout</a>
                                        
                  <a class="nav-item nav-link" href="#">Login</a>
                  <a class="nav-item nav-link" href="#">Register</a>
                                          
              </div>
                              
          </div>
          </div>
                 
      </nav>
  </header>



  
  
  <!-- /////////////////////////////////////////////////////////////////////////// -->

  <main > 
        <div class="jumbotron text-center row w-100  mx-0">
            <div class="container col-xl-6 col-md-12 text-left wow bounceInUp" >
                <h1 class="pb-3">Pythonista</h1> 
                <p class="pl-4">If you are a complete beginner to programming, then Pythonista tutorial is the best choice for you to learn to code. You can become a Pythonista by learning the fundamentals of Python language. If you are already familiar with the fundamentals of the language and you want to take your Python skills to the next level, then I recommend you to do some projects using Python.</p>
                <p class="pl-4">Pythonista is someone who uses the python programming language to do his work. They are programmers who are loyal fans of the Python language.</p>
                <p class="pl-4">Pythonistas are the ones that always think of new ideas and create new things using Python, they seem to be the ones who are likely the leaders talking about Python programming.</p>
            </div> 
            <div class="col-xl-6 col-md-0"></div>    
        </div>
          <!-- Container (About Section) -->
          <div class="container-fluid about position-relative wow bounceInUp">
            <div class="row">
              <div class="col-xl-8 ">
                <div class="d-flex text-center">
                  <h2 class="pb-3 h1 text-dark text-center">About Pythonista</h2>
                  <ul class="list-line line-color2">
                      <li></li><li></li>
                    </ul>
                </div>
                <p class="pl-4">
                  Pythonista's tutorial is designed for software programmers who need to learn Python programming language from scratch. 
                  <br>You should have a basic understanding of Computer Programming terminologies. 
                  <br>No basic understanding of any of the programming languages is a required. 
                  <br>All you need is a curious mind, willingness to embrace learning a new skill & determination not to give up in the face of errors. 
                </p>
              </div>
              <div class="col-xl-4">
                <span class="glyphicon glyphicon-qrcode logo"></span>
              </div>
            </div>
          </div>
          
          <div class="container-fluid bg-grey values wow bounceInUp">
            <div class="row">
              <div class="col-xl-4">
                <span class="glyphicon glyphicon-fire logo"></span>
              </div>
              <div class="col-xl-8">
                
                <div class="d-flex text-center">
                    <h3 class="h1 text-dark text-center">Our Values</h3>
                    <ul class="list-line line-color2">
                        <li></li><li></li>
                      </ul>
                  </div>
                <div class="container">
                  <h3 class="py-2"><strong>MISSION:</strong></h3>
                      <p class="pl-4">we focus on just one thing: we help people learn Python programming. We do not offer lots of different courses in different languages or using robots or gaming platforms that often serve more as a distraction than anything else.</p>      
                      <ul class="pl-4" style="list-style: inside;">
                      <li>A student needs to first learn the fundamentals of programming, and learn them well, before they can well and truly apply these to more narrow applications such as robotics or writing advanced games.</li>
                      <li>Coding, when taught properly, is engaging in its own right and doesn't need gadgets.</li>
                      <li>The priority is to learn coding, and not a coding language. So trying to learn several languages at once is not only not necessary but also counterproductive.</li>
                  </ul>
                  <h3 class="py-2"><strong>VISION:</strong></h3>
                      <p class="pl-4">Most tutorials assume that you need to learn all of Python syntax before you can start doing anything interesting. This is what leads to months spent just on syntax, when what you really want to be doing is analyzing data, or building a website, or creating an autonomous drone.
  
                      This is what leads to your motivation ebbing away, and to you just calling the whole thing off. I like to think of this as the “cliff of boring”. You need to be able to climb the “cliff of boring” to make it to the “land of interesting stuff you work on” (better name pending).</p>
                </div>
                  </div>
            </div>
          </div>    
    </main>




    <!-- ///////////// -->
    <section class="our__team position-relative pb-5 wow bounceInUp" data-wow-duration="2s">
      <div class="our__team__content container ">
          <div class="header-ourteam py-3  ">
              <div class=" d-flex text-center justify-content-center">
                
                  <div>
                      <h2 >Our Team</h2>
                  </div>
                  <ul class="list-line line-color2">
                      <li></li>
                      <li></li>
                  </ul>
              </div>
              <!-- <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nam officiis a distinctio itaque fugit iusto neque adipisci quibusdam reprehenderit.</p> -->
          </div>
          <div class="row d-flex justify-content-between ">
              <div class="card col-md-6 col-xl-4 col-12 bg-transparent " >
                  <div class=" text-center">
                    
                          <img src="../../../media/profile_pics/20150123_135632_001_-_Copy.jpg" alt="" class="w-100 " height="348px"/>
                          <div class=" bg-white text-dark">
                              <h3>Mohamed Yasser</h3>
                              <span class="text-primary d-inline-block py-2">Leader</span>
                              <hr>

                              
                              <p class="pb-2">Backend Developer Using Python at Information Technology Institute (ITI)</p>
                              <hr>
                              <a href="https://www.linkedin.com/in/moya2021/">My Linkedin</a>
                          </div>
                  </div>
              </div>

              
            <div class="card col-md-6 col-xl-4 col-12 bg-transparent " >
              <div class=" text-center">
                
                      <img src="../../../media/profile_pics/20150123_135632_001_-_Copy.jpg" alt="" class="w-100" height="348px"/>
                      <div class=" bg-white text-dark">
                          <h3>Beshoy Nabeih</h3>
                          <span class="text-primary d-inline-block py-2">Leader</span>
                          <hr>
                          <p class="pb-2">Backend Developer Using Python at Information Technology Institute (ITI)</p>
                          <hr>
                              <a href="https://www.linkedin.com/in/beshoynabeih/">My Linkedin</a>
                        </div>
              </div>
          </div>
          <div class="card col-md-6 col-xl-4 col-12 bg-transparent " >
            <div class=" text-center">
              
                    <img src="../../../media/profile_pics/11.jpg" alt="" class="w-100 " height="348px"/>
                    <div class=" bg-white text-dark">
                        <h3>Mai Mohamed</h3>
                        <span class="text-primary d-inline-block py-2">FrontEnd</span>
                        <hr>
                        <p class="pb-2">FrontEnd Using Bootstrap And Angular & BackEnd Developer Using Nodejs </p>
                        <hr>
                              <a href="https://www.linkedin.com/in/mai-mohamed-belal-1327051aa/">My Linkedin</a>
                      </div>
            </div>
        </div>
      </div>
 
  </section>


    
    <section id="footer" class="fixed-bottom">
        <div class="container">
            <div class="row">
  
                <footer class="container">
                  <span class="lang " Key="COPYRIGHT ">Copyright &copy; 2020 </span>
                  <a href="# " target="_blanck " >&nbsp; Pythonista</a>
                </footer>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    
    <script src="../../static/home/css/wow.min.js"></script>

    <script>
            wow = new WOW(
                {
                boxClass:     'wow',      // default
                animateClass: 'animated', // default
                offset:       0,          // default
                mobile:       true,       // default
                live:         true        // default
            }
            )
            wow.init();
      </script>
  
  
  
  </body>
    </html>
   